body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin: 0px 166px;
}

.header {
    background-image: url("Images/background.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    margin-right: 25px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #d81d1d;
}

.cart {
    position: relative;
    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}

.cart-img {
    position: absolute;
    top: 20px;
    right: 7px;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.3s linear;
}

.num:hover {
    color: #d81d1d;
}


.phone-text {
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.phone-holder {
    display: flex;
    align-items: center;
}

.button {
    background-color: #FF7400;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 14px 19px;
    font-weight: 700;
    font-size: 14px;

    transition: background-color 0.2s linear;
}

.button:hover {
    background-color: #894b17;
}

.header-down {
    position: relative;
}

.header-title {
    color: #D67E35;
    font-family: 'Tinos', serif;
    font-size: 50px;
    font-weight: 400;

    text-align: center;
    position: absolute;
    left: 0;

    margin-top: 142px;
    margin-left: -35px;
    margin-bottom: 12px;
}

.header-subtitle0 {
    font-size: 79px;
    line-height: 91.99px;

}

.header-subtitle {
    color: #fff;
    font-size: 18px;
    line-height: 30.51px;
    font-family: 'Open Sans', sans-serif;
}

.header-subtitle:before {
    position: absolute;
    content: " ";
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 163px;
    left: 76px;
}

.header-subtitle:after {
    position: absolute;
    content: " ";
    height: 2px;
    width: 61px;
    background-color: #fff;
    top: 163px;
    left: 340px;
}

.header-button {
    background-color: #FF7400;
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    padding: 14px 28px;
    font-family: 'Open Sans', sans-serif;

    transition: background-color 0.3s linear;
}

.header-button:hover {
    background-color: #894b17;
}

.cards-holder {
    display: flex;
    justify-content: center;
}

.card {
    width: 349px;
    height: 328px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    margin-right: 31px;
    background-color: #fff;
    margin-top: -70px;
    padding: 10px 10px;

}

.card-image {
    display: flex;
    justify-content: center;
    padding-top: 31px;
}

.card-title {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    font-family: 'Tinos', serif;
    font-size: 24px;
    font-weight: 400;
}

.card-title span {
    color: #BC9060;
}

.card-description {
    text-align: center;
    justify-content: center;

    font-family: 'Tinos', serif;
    font-size: 23px;
    font-weight: 400;
    color: #656363;
}

.history {
    margin-top: 166px;
    padding-bottom: 200px;
}

.history-title {
    font-size: 54px;
    font-family: 'Tinos', serif;
    font-weight: 400;
    width: 444px;
    text-align: center;

}

.history-title span {
    color: #D67E34;
}

.history-description {
    color: #656363;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 444px;
    height: 217px;
    text-align: center;
    margin-top: 21px;
}

.history-number {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 30px;
}

.number-item {
    margin-right: 60px;
    text-align: center;
    font-size: 40px;
    color: #BC9060;
}

.number-item span {
    display: block;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.history-images {
    position: relative;
}

.history-holder {
    display: flex;
}

.images-1 {
    /*position: absolute;
    z-index: 1236px;
    top: 14px;
    left: 125px;*/

    position: absolute;
    z-index: 0;
    top: -75px;
    left: 345px;
}

.images-2 {
    position: absolute;
    z-index: 1;
    top: 14px;
    left: 125px
}

.images-3 {
    /*position: absolute;
    z-index: 1369;
    top: 246px;
    left: 400px;*/

    position: absolute;
    z-index: 1;
    top: 236px;
    left: 370px;
}

.images-4 {
    position: absolute;
    /*z-index: 1205;
    top: 16px;
    left: 400px;*/
    z-index: -1;
    top: 256px;
    left: 250px;

    height: 250px;
    width: 250px;
}

.black-block {
    background-image: url(Images/black-bg.jpg);
    padding: 80px 0;
}

.left-title {
    color: #D67E34;
    font-size: 52px;
    font-family: "Tinos", serif;
    font-weight: 400;

    margin-bottom: 20px;
}

.left-text {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

.right-btn {
    background-color: #FF7400;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    padding: 14px 19px;
    font-weight: 700;
    font-size: 14px;

    transition: background-color 0.2s linear;
}

.right-btn:hover {
    background-color: #894b17;
}

.block-holder {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dishes-title {
    font-family: "Tinos", serif;
    font-size: 54px;
    font-weight: 400;
    text-align: center;
    padding-top: 132px;
    margin-bottom: 139px;
}

.dishes-title span {
    color: #D67E34;
}

.burgers {
    display: flex;
    justify-content: center;
}

.burger-item {
    display: flex;
    align-items: center;
    margin-bottom: 29px;
}

.burgers-image {
    margin-right: 20px;
}

.burger-text {
    font-family: "Tinos", serif;
    font-size: 22px;
    margin-left: 20px;
}

.menu {
    background-image: url(Images/menu-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 100px;
}

.menu-title {
    font-family: "Tinos", serif;
    font-size: 54px;
    padding-top: 98px;
    color: #fff;
    text-align: center;
    padding-bottom: 138px;
}

.menu-item {
    background-color: #fff;
    text-align: center;
    width: 33%;
    padding-top: 80px;
    padding-bottom: 30px;
    margin-right: 20px;
}

.menu-text {
    font-family: "Tinos", serif;
    font-size: 26px;
    padding-top: 16px;
    padding-bottom: 17px;
}

.menu-subtext {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}

.menu-btn {
    background-color: #D67E34;
    text-decoration: none;
    color: #fff;
    padding: 14px 67px;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 5px 5px 10px 0px #00000040;

}

.menu-button {
    margin-top: 20px;
}

.price-image {
    position: absolute;
    bottom: 0;
    right: 32px;
}

.menu-image {
    position: relative;
}

.price-420 {
    position: absolute;
    bottom: 32px;
    right: 60px;
    color: #fff;
    font-size: 30px;
    font-family: 'Cookie', cursive;
}

.menu-items {
    display: flex;
    justify-content: center;
}

.recommended {

    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background-color: #D67E34;

   margin-top: -310px;
    position: absolute;
    justify-content: center;
    text-align: center;
    padding: 7px 12px;
}